:root {
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1366px;
  --breakpoint-ultrawide: 2560px;
  --primary: #efbf04;
  --secondary: #ffff;
}

#toggle-button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  color: white;
  border: none;
  display: none;
}

#toggle-button:hover {
  cursor: pointer;
}

h2,
li {
  color: var(--secondary);
  font-weight: normal;
}

li:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--primary);
}

.nav-sections {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-right: 50px;
  font-size: 2rem;
}

h1 {
  color: var(--primary);
  font-size: 3rem;
}

.home-section-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2;      
}

.home-section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  z-index: -1; 
}

.home-information-content {
  position: relative;
  width: 40%;
  color: white;
  z-index: 1;        
  padding: 20px;
}


.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo h2 {
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color:  #333;
  color: var(--secondary);
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  z-index: 1001;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 1.5rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar #close-sidebar {
  background: none;
  border: none;
  color: var(--secondary);
  font-size: 1.5rem;
  align-self: flex-start;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1366px) {
  .nav-sections {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .home-image-logo {
    display: none;
  }

  .nav-sections {
    display: none;
  }

  #toggle-button {
    display: block;
  }
}

@media (max-width: 768px) {

  .nav-sections {
    font-size: 1rem;
  }

  .nav-logo {
    font-size: 1rem;
  }

  .home-information-content {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .nav-logo {
    flex-direction: column;
    font-size: 0.5rem;
    margin-left: 10px;
  }
  .nav-logo img{
    display: none;
  }
}
