@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("style/base.css");

:root {
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1366px;
  --breakpoint-ultrawide: 2560px;
  --primary: #efbf04;
  --secondary: #ffff;
  --color-primary: #ffd700;
  --color-secondary: #101010;
  --color-text-light: #fff;
  --color-text-muted: #aaa;
  --color-text-dark: #101010;

  --max-width: 1220px;
  --padding-section: 2rem;
  --border-radius: 10px;

  --carousel-height: 350px;
  --carousel-radius: 0.5em;
  --carousel-nav-btn-dim: 3em;
  --carousel-page-nav-btn-dim: 0.5em;
  --carousel-caption-padding: 2em;
  --carousel-caption-color: #fff;
  --carousel-caption-bg: linear-gradient(
          to bottom,
          transparent,
          hsl(0 0 0 / 65%) 80%
  );
  --carousel-inner-spacing: 2em;
  --carousel-prev-next-btn-bg: #fff;
  --carousel-prev-next-btn-color: #333;
  --carousel-pagination-margin: 1em;
  --carousel-pagination-gap: 0.75em;
  --carousel-pagination-btn-bg: #aaa;
  --carousel-pagination-btn-active-bg: #333;
}

body {
  height: 100dvh;
  position: relative;
  background-color: black;
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Roboto", sans-serif;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr auto;
  grid-template-columns: auto;
}

/* this is a custom container for sections */
.container {
  max-width: 1350px;
  margin: 0 auto;
  width: 90%;
}

.toast {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  overflow: hidden;
  padding: 1rem;
  background-color: #fff;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: #000;
  display: flex;
  gap: 1rem;
  align-items: center;

  & .toast__icon {
    border-radius: 50%;
    padding: 5px;

    & img {
      width: 18px;
      height: 18px;
    }
  }

  & .toast__content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    & h4 {
      font-size: 1.1rem;
      color: #232323;
      font-weight: 500;
    }

    & span {
      font-size: 0.9rem;
      color: #233232;
    }
  }

}

.toast--error {
  border-left: 5px solid #ff0000;
  color: #fff;

  & .toast__icon {
    background-color: #ff0000;
  }
}

.toast--success {
  border-left: 5px solid #38c554;
  color: #fff;

  & .toast__icon {
    background-color: #38c554;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


/* for testing */
.border {
  border: 1px solid red;
}

/* media queries for font size */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  p,
  span {
    font-size: 0.9rem;
  }
}
